/* here you can put your own css to customize and override the theme */
.help-note {
    color: #737373;
    display: block;
    margin-bottom: 10px;
    margin-top: 5px;
}
.margin-bottom{
    margin-bottom: 5px;
}
.custom-padding{
  padding:5px 2px;
text-align:center;
}
